* {
    margin: 0%;
    padding: 0.1rem;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 0;
}

#sidebar {
    grid-column: 1;
    grid-row: 1 / span 5;

    height: max-content;
}

main {
    grid-column: 2 / span 3;
    grid-row: 1 / span 4;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
}

footer {
    grid-column: 2 / span 3;
    grid-row: 5;
    height: fit-content;
}
